@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Sailor Moon Galaxy</h1>
    <img src="~/imgs/img1.jpg" class="col-lg-12 hero-img"/>
    <p>Sailor Moon</p>
</div>
